 body.album {
     background-image: url(../assets/images/bw-lights.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center center;
     background-size: cover;
 }
 
 .album-cover-art {
     position: relative;
     left: 20%;
     margin-top: 1rem;
     width: 60%;
     border-radius: 5px;
 }
 
 .album-view-details {
     position: relative;
     top: 1.5rem;
     padding: 1rem;
 }
 
 .album-view-details .album-view-title {
     font-weight: 300;
     font-size: 2rem;
 }
 
 .album-view-details .album-view-artist {
     font-weight: 00;
     font-size: 1.5rem;
     text-transform: uppercase;
 }
 
 .album-view-details .album-view-release-info {
     font-weight: 300;
     font-size: 0.75rem;
 }

.album-view-song-list {
     width: 90%;
     padding: 1.5rem auto;
     font-weight: 300;
     font-size: 0.75em;
     border-collapse: collapse;
     border-collapse: collapse;
 }
 
 .album-view-song-item {
     height: 3rem;
     border-bottom: 1px solid rgba(255,255,255,0.5);
 }
 
 .song-item-number {
     width: 5%;
 }
 
 .song-item-title {
     width: 85%;
 }
 
 .song-item-duration {
     width: 5%;
 }

.scrim {
    height = 120%;
    width = 60%;
    background-color: rgba(8, 8, 8, 0.8);
}

@media (max-width: 640px) and (min-width: 320px) {
     .album-view-details {
         text-align: center;
     }
     
     .album-view-title {
         margin-top: 0;   
     }
 }

 @media (max-width: 1024px) and (min-width: 320px) {
    .album-view-song-list {
         position: relative;
         width: 80%;
         bottom: 0.33rem;
         margin: auto;
     }
 }
