
 html {
     height: 100%; 
     font-size: 100%;
 }
 
 body {
     font-family: 'Palanquin'; 
     font-weight: lighter;
     color: white;             
     min-height: 100%;         
 }
 
 body.landing {
     background-image: url(../assets/images/gplaypattern_@2X.png);
 }
 
 .navbar {
     padding: 0.5rem;
     background-image: url(../assets/images/gplaypattern_@2X.png);
 }
 
 .navbar .logo {
     position: relative; 
     left: 2rem;
 }

 .hero-content {
     position: relative; 
     min-height: 600px; 
     background-image: url(../assets/images/record.jpg);
     background-size: cover;
 }

.hero-content .hero-title {
     position: absolute;         
     top: 40%;                 
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
     width: 100%;                    
     text-align: center;             
     font-size: 4rem;                
     font-weight: 300;             
     text-transform: uppercase;              
     text-shadow: 2px 2px 4px rgb(58,23,63); 
 }

.hero-content .hero-subtitle {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    font-size: 2.5rem; 
    font-weight: 200; 
     text-shadow: 1px 1px 0px rgb(58,23,63);
}

 .selling-points {
     position: relative;
     display: table;
     width: 100%;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box; 
 }
 
 .point {
     display: table-cell;
     position: relative;
     width: 33.3%;
     padding: 2rem;
     text-align: center;
     background-color: rgba(4, 4, 4, 0.7);
 }
 
 .point .point-title {
     font-size: 1.25rem;
     font-weight: 200;
 }

.point .point-description {
    font-weight: 100;
}
 
 .ion-music-note,
 .ion-radio-waves,
 .ion-iphone {
     color: rgb(233,50,117);
     font-size: 5rem;
 }